<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="gradient-text">Let's Connect</h4>
        <div class="social-links">
          <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <p>&copy; 2024 Vikas Soni. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
