<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [ngClass]="isScrolled ? 'scrolled' : ''">
  <div class="container d-flex justify-content-between">
    <!-- Portfolio text on the left -->
    <a class="navbar-brand gradient-text text-white" href="#home">Portfolio</a>

    <!-- Centered menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Social icons on the right -->
    <ul class="navbar-nav social-icons">
      <li class="nav-item">
        <a
          href="https://www.linkedin.com/in/vikas-soni-7982a516b"
          target="_blank"
          class="nav-link icon-link"
        >
          <i class="ri-linkedin-box-fill custom-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="https://github.com/vikasoni12/portfolio.github.io"
          target="_blank"
          class="nav-link icon-link"
        >
          <i class="ri-github-fill custom-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="https://www.instagram.com/s_vikas21"
          target="_blank"
          class="nav-link icon-link"
        >
          <i class="ri-instagram-fill custom-icon"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
